#!/bin/bash
# File: /sbin/ifup-local
#
# This script is run after normal sysconfig network-script configuration
# is performed on RHEL/CentOS-based systems.
#
# Parameters:
# $1: network interface name

#!/bin/sh
# File: /sbin/ifup-local
# Post ifup configuration for tuning capture interfaces
# This is compatible with the ixgbe driver, YMMV

# Change this to something like /tmp/ifup-local.log for troubleshooting
LOG=/dev/null

case $1 in
<%
if node['rock']['mon_ifaces'].is_a?(Array)
	mon_if = node['rock']['mon_ifaces'].join('|')
else
	mon_if = node['rock']['mon_ifaces']
end
%>
<%= mon_if %>)

  for i in rx tx sg tso ufo gso gro lro rxvlan txvlan
  do
    ethtool -K $1 $i off &>$LOG
  done

  ethtool -N $1 rx-flow-hash udp4 sdfn  &>$LOG
  ethtool -N $1 rx-flow-hash udp6 sdfn &>$LOG
  ethtool -n $1 rx-flow-hash udp6 &>$LOG
  ethtool -n $1 rx-flow-hash udp4 &>$LOG
  ethtool -C $1 rx-usecs 1000 &>$LOG
  ethtool -C $1 adaptive-rx off &>$LOG
  ethtool -G $1 rx 4096 &>$LOG

;;

*)
# No post commands needed for this interface
;;

esac
