<% if node['rock']['mon_ifaces'].is_a?(Array) %>
<% for device in node['rock']['mon_ifaces'].each  %>
net.ipv6.conf.<%= device %>.disable_ipv6=1
net.ipv6.conf.<%= device %>.autoconf=0
<% end %>
<% else %>
net.ipv6.conf.<%= node['rock']['mon_ifaces'] %>.disable_ipv6=1
net.ipv6.conf.<%= node['rock']['mon_ifaces'] %>.autoconf=0

<% end %>
