@load base/files/unified2

redef Unified2::classification_config = "<%= node['snort']['confdir'] %>/classification.config";
redef Unified2::gen_msg = "<%= node['snort']['confdir'] %>/gen-msg.map";
redef Unified2::sid_msg = "<%= node['snort']['confdir'] %>/sid-msg.map";
redef Unified2::watch_dir = "<%= node['snort']['logdir'] %>";
